@charset "UTF-8";

/*Global View*/

body {
  font-family: 'Roboto', sans-serif;
}

header {
    padding-bottom: 145px;
    padding-right: 19px;
    padding-top: 10px;
}

h1 {
	font-family:'Roboto Slab';
    font-size : 70px;
    line-height : 82.2px;
    color : #F0F0F0;
}

h2 {
	font-family:'Roboto Slab';
	font-size: 62pt;
    color : #3D414F;
}

h3 {
	font-family:'Roboto Slab';
	font-size: 25pt;
    line-height : 30pt;
    color : #F0F0F0;
}

.topContainer {
    max-width: 1364px;
    margin-left: auto;
    margin-right: auto;
}




nav {
    float: right;
}

.logoBox {
	width : 286px;
    height : 53px;
}

.mobile-view {
    display: none;
    clear: none;
    float: right;
}
.desktop-view {
    margin-top: -11px;
	width: auto;
}
.desktop-view ul li {
    list-style-type: none;
    display: inline-block;
	
}
.desktop-view ul li a {
    color : #F0F0F0;
    text-decoration: none;
    font-size : 24px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    margin-right: 0px;
}


.kevin-beyers-design-logo {
    background-image : url(images/kevin-beyers-design-logo.png);
    background-repeat : no-repeat;
}

.mobile-menu ul {
	list-style-type: none;
}

.mobile-menu {
    position: absolute;
    display: none;
    text-align: center;
    float: right;
    margin-top: 4px;
    margin-right: -32px;
    z-index: 100
}

.subhead {
	padding-left: 115px;
	width: 700px;
	height: 343px;
	margin-right:auto;
}

body {
    background-color: #3D414F;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
}
.hero-image {
    height: 862px;
    background-image: url("../images/Hero Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0%;
    padding-top: 20px;
}



main {
    min-height: 800px;
}

#portfolioContainer{
	justify-content: center;
	border-radius: 10px 10px;
	width: 1364px;
	height: 1762px;
	background-color: #F0F0F0;
	margin-left: auto;
    margin-right: auto;
}

.portfolioGridArea {
    background-repeat: no-repeat;
    display: grid;
    align-content:stretch;
  }

#portfolioGrid {

  margin: 0px 10%;
  display: grid;
  grid-template-rows: 552px 552px 552px;
  grid-template-columns:50% 50%;
  grid-template-areas:
  "findFlix findFlixText"
  "doi doiText"
  "hsco hscoText"
  ;
}

#findFlix {
  grid-area: findFlix;
  background-image:url("../images/FindFlix_Mockup2.jpg");

}
#doi {
  grid-area: doi;
  background-image:url("../images/DOI Thumb.jpg");
}

#hsco {
  grid-area: hsco;
  background-image:url("../images/HSCO Thumb.jpg");
}




footer {
    padding-top: 25px;
	padding-left:278px;
    padding-left:282px;
    height: 303px;
	background-color: #1D1F26;
}

#bottomLogoContainer {
	background-image: url("../images/KBD Logo.svg");
	width:283px;
	height:53px;
}

.bottomLogoText {
    width: auto;
	height: auto;
}

.bottomNavRight {
	/*margin-left: 329px;*/
    float: right;
    width: 600px;
    height: auto;
}

.bottomNavRight ul li {
    list-style-type: none;
    display:block;
	
}
.bottomNavRight ul li a {
    text-decoration: none;
	color: #F0F0F0;
    font-size: 24px;
    margin-left: 0px;
    /*padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    margin-right: 0px;*/
}

.chatButton {
	color: #F0F0F0;
	align-content: center;
	text-align: center;
	font-size:20px;
	text-decoration: none;
	width:214px;
	height:49px;
	padding-left:62px;
	padding-right:62px;
	padding-top:18px;
	padding-bottom:18px;
	background-color:#D68B45;
	border-radius: 4px 4px 4px 4px;
}

.social-icons {
    margin-top: 50px;
}
.social-icons img  {
    padding-right: 24px;
}
.copyright {
    float: right;
    font-size : 10px;
    color : #F0F0F0;
    margin-top: 21px;
}


/*Tablet View*/
@media (min-width : 415px ) and ( max-width : 768px ){
	
.expand   {
    display: block;
}
	
.mobile-menu ul {
	list-style-type: none;
}

.mobile-menu {
    clear: both;
    text-align: center;
    float: right;
    margin-top: 9px;
    margin-right: 4px;
}



.mobile-view {
    display: block;
    float: right;
    padding-top: 6px;
}
.desktop-view 
	{
    display: none;
    padding-top: 26px;
}
		


.hero-content {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 48px;
}
h1 {
    font-size : 59px;
    line-height : 74.2px;
    color : #F0F0F0;
}
.col-md {
    width: 48%;
    height: auto;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.image-grid {
    margin-top: -47px;
    margin-bottom: -37px;
    padding-bottom: 0px;
}
.hero-image {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    height: 467px;
    background-image: url("../images/Hero Image.jpg");
    background-position: 57% 0%;
}
.hero-content-hr {
    margin-left: 26px;
    width: 67%;
    margin-top: -70px;
    margin-bottom: 168px;
}
	
	footer {
    text-align: center;
    margin-bottom: 67px;
}
	
	.social-icons {
    clear: none;
    float: none;
}
.social-icons img  {
    padding-right: 10px;
}
.copyright {
    float: none;
    clear: both;
    padding-top: 10px;
}
	
}


/*Mobile View*/
@media (max-width : 414px ){
.mobile-view {
    margin-top: 3px;
	display: block;
	float: right;
}
.desktop-view {
    display: none;
	text-align: right;
}
.expand   {
    display: block;
}

header a img {
    width: 83%;
    height: 83%;
}
	
.desktop-view ul li {
    display: block;
}
.hero-image {
    height: 476px;
    background-image: url("../images/Hero Image.jpg");
}
.hero-content {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    margin-top: 4px;
	}
.hero-content hr {
    display: none;
}

h1 {
    font-size : 40px;
    line-height : 41.2px;
    color : #F0F0F0;
    margin-bottom: 29px;
}
.hero-content img.float-left {
    margin-left: 52px;
    clear: both;
    float: left;
}
.col-xs {
    width: 98%;
    height: auto;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.image-grid {
    margin-top: 226px;
    margin-bottom: -54px;
}
.hero-content-hr {
    display: none;
}
		footer {
    text-align: center;
    padding-bottom: 30px;
}
	
	.social-icons {
    margin-top: 5px;
    clear: none;
    float: none;
}
.social-icons img  {
    padding-right: 10px;
}
.copyright {
    float: none;
    clear: both;
    padding-top: 10px;
}

}
